#{extends 'main.html' /}
#{set title:'Manage your polls' /}
#{set moreStyles: ["managepoll"] /}

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	$('div.instances').hide();
	$('.question').click(function() {
		// jQuery noob at work
		$(this).parent().find("div.instances").slideToggle('slow');
	});
	
	$("button").button();
});
</script>

<div id="main">
#{list pollsJson, as:'poll'}
	<div class="pollContainer">
	#{if poll.pollinstances.size() < 1}
		<div class="question">
			<span>${poll.question}</span>
			<div class="controls">
				<input type="button" id="activate${poll.id}" value="activate" class="button" onClick="location.replace('/activate/${poll.id}')" />
				<input type="button" id="edit${poll.id}" value="edit" class="button" onClick="location.replace('@{ManagePoll.index}/${poll.id}')" />
			</div>
		</div>
	#{/if}
	#{else}
		<div class="question withinstances">
			<span>${poll.question}</span>
			<div class="controls">
				<input type="button" id="activate${poll.id}" value="activate" class="button" onClick="location.replace('/activate/${poll.id}')" />
				<input type="button" id="clone${poll.id}" value="clone" class="button" onClick="location.replace('')" />
			</div>
		</div>
		<div class="instances" id="poll${poll.id}_instances">
			#{list poll.pollinstances, as:'pollInstance'}
				<div class="instance" id="instance_${pollInstance.id}">
					<span>${pollInstance.start} - ${pollInstance.end}</span>
					<div class="controls">
						<input type="button" id="close${poll.id}" value="close" class="button" onClick="location.replace('')" />
						<input type="button" id="close${poll.id}" value="View stats" class="button" onClick="location.replace('@{ManagePoll.statistics}/${pollInstance.id}')" />
					</div>
				</div>
			#{/list}
		</div>
	#{/else}
	</div>
#{/list}
</div>