#{extends 'main.html' /}
#{set title:'Manage your polls' /}
#{set moreStyles: 'managepoll' /}
#{set moreStyles: 'managepollshowhide' /}
<script src="@{'/public/javascripts/managepoll/showhide.js'}" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$('.show_hide').showHide({
			speed: 1000,
			easing: '',
			changeText: 1,
			showText: 'Show',
			hideText: 'Hide'
    });
});
</script>

<div id="main">
		<ul>
		<div class="demo-show">
			#{list pollsJson, as:'poll'}
				<h3><li>${poll.question}</li></h3>
				<div>
				#{list poll.pollinstances, as:'pollInstance'}
					<li>${pollInstance.id}</li>
				#{/list}
				</div>
			#{/list}
		</div>
		</ul>
</div>