#{extends 'main.html' /}
#{set title:'Manage your polls' /}
#{set moreStyles: 'managepoll' /}
#{set moreStyles: 'managepollshowhide' /}
<script src="@{'/public/javascripts/managepoll/showhide.js'}" type="text/javascript" charset="utf-8"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>

<div id="main">
	<div class="managepollforuser">
		#{list pollsJson, as:'poll'}
		
			#{if poll.pollinstances.size() < 1}
				<div class="questionwithout">${poll.question}</div>
				<button>Activate</button>
				<button>Edit</button>
			#{/if}
			
			#{else}
				<div class="questionwith">${poll.question}</div>
				<button>Activate</button>
				<button>Clone</button>
				
				<div class="instances" id="poll${poll.id}_instances">
					#{list poll.pollinstances, as:'pollInstance'}
						<div class="instance" id="instance_${pollInstance.id}">${pollInstance.id}</div>
						<button>Close</button>
					#{/list}
				</div>
			#{/else}
			
				
			
		#{/list}
	</div>
</div>