#{extends 'main.html' /} #{ set title:'Statistics for poll #' + pollInstance.poll_id /}
#{set moreStyles:["ManagePoll/base", "ManagePoll/statistics"] /}
#{set moreScripts:["highcharts-2.2.0", "exporting"] /}
#{if showQRCode}
<script type="text/javascript">
$(function(){
	showQR('@{QRController.renderImage(token:pollInstance.poll_token,size:200,format:'png')}', '@@{JoinPoll.index(token:pollInstance.poll_token)}');
});
</script>
#{/if}
#{poll-qr-code /}
<div id="main">
	#{pollinstance_votechart pollInstance:pollInstance, refresh:true /}
	<script>
	// var serviceTime = ;
	</script>
	<hr />
	<p id="voteCountLabel">&{'managepoll.pollstatistics.totalVoteCount', '<span>?</span>'}</p>
	<div class="countdown">
		<p>Time remaining to poll closes: <span>?</span></p>
		<a class="button" href="@{ManagePoll.close(pollInstance.id)}">&{'managepoll.statistics.close_now'}</a>
		<button class="button" onClick="showQR('@{QRController.renderImage(token:pollInstance.poll_token,size:200,format:'png')}', '@@{JoinPoll.index(token:pollInstance.poll_token)}')">&{'managepoll.qrcode.show_qr_code_button'}</button>
	</div>
	<div id="loadingHint">
		<img class="spinner" src="@{'/public/images/loading-big.gif'}" alt="&{'loading'}"/>
		<span class="status">&{'managepoll.statistics.loading'}</span>
	</div>
</div>