#{extends 'main.html' /}
#{set title:'New User' /}
#{set moreStyles:["registeruser"] /}
<div id="main">
  <form action="getdata" method="post" id="registrationForm">
    <div class="labeledinput">
		  <label>&{'add.name'}</label>
		  <input type="text" name="name" value="" autocomplete="off" autofocus="autofocus" />
	</div>
    <div class="labeledinput">
		  <label>&{'add.email'}</label>
		  <input type="text" name="email" value="" autocomplete="off" autofocus="autofocus" />
	  </div>
  	<div class="labeledinput">
  		<label>&{'add.passw'}</label>
  		<input type="password" name="passw" value="" autocomplete="off" maxlength="30"/>
  	</div>
  	<div class="labeledinput">
  		<label>&{'add.confirm.passw'}</label>
  		<input type="password" name="confpassw" value="" autocomplete="off" maxlength="30"/>
    </div>
    <input type="submit" value="&{'register'}" class="button" />
    <a href="/">
      <input type="button" value="&{'cancel'}" class="button" />
    </a>
  </form>
  <div id="errors">
    #{ifError 'email'}
      <p class="error registrationError">&{'wrong.email'}</p>
    #{/ifError}
    #{ifError 'passwDontMatch'}
      <p class="error registrationError">&{'passw.doesnt.match'}</p>
    #{/ifError}
    #{ifError 'validatePass'}
      <p class="error registrationError">&{'wrong.passw'}</p>
    #{/ifError}
    #{ifError 'emailTaken'}
      <p class="error registrationError">&{'email.taken'}</p>
    #{/ifError}    
  </div>
</div>

