#{extends 'main.html' /}
#{set 'title'}&{'registeruser.title'}#{/set}
#{set moreStyles:["registeruser"] /}
<div id="main">
	<h1>&{'registeruser.title'}</h1>
	#{form @RegisterUser.submit()}
    #{ifError ''}
		<p class="error">#{error '' /}</p>
    #{/ifError}
    <div class="labeledinput">
		<label>&{'add.name'}</label>
		<input type="text" name="name" value="${flash.name}" autocomplete="off" autofocus="autofocus" />
	    #{ifError 'name'}
			<p class="error">#{error 'name' /}</p>
	    #{/ifError}
	</div>
    <div class="labeledinput">
		<label>&{'add.email'}</label>
		<input type="text" name="email" value="${flash.email}" autocomplete="off" autofocus="autofocus" />
	    #{ifError 'email'}
			<p class="error">#{error 'email' /}</p>
	    #{/ifError}
	  </div>
  	<div class="labeledinput">
  		<label>&{'add.passw'}</label>
  		<input type="password" name="password" autocomplete="off" maxlength="30"/>
	    #{ifError 'password'}
			<p class="error">#{error 'password' /}</p>
	    #{/ifError}
  	</div>
  	<div class="labeledinput">
  		<label>&{'add.confirm.passw'}</label>
  		<input type="password" name="passwordConfirmed" autocomplete="off" maxlength="30"/>
	    #{ifError 'passwordConfirmed'}
			<p class="error">#{error 'passwordConfirmed' /}</p>
	    #{/ifError}
    </div>
    <input type="submit" value="&{'register'}" class="button" />
    <a href="/">
      <input type="button" value="&{'cancel'}" class="button" />
    </a>
  #{/form}
  <div id="errors">
    #{ifError 'passwDontMatch'}
      <p class="error registrationError">&{'passw.doesnt.match'}</p>
    #{/ifError}
    #{ifError 'validatePass'}
      <p class="error registrationError">&{'wrong.passw'}</p>
    #{/ifError}
    #{ifError 'emailTaken'}
      <p class="error registrationError">&{'email.taken'}</p>
    #{/ifError}    
  </div>
</div>

