<script type="text/javascript">
function updateChoiceNumbers() {
	$("#choices .choice").each(function(n, v) {
		$("label span", this).text(n+1);
	});
}

var choiceIndex = 0;
function addChoice(value) {
	choiceIndex++;
	var index = choiceIndex;
	var id = "choice-"+index;
	var label = "&{'createpoll.form.choiceLabel', '<span>?</span>'}";
	var choiceField = $('<li class="choice block"><label>'+label+'<img src="public/images/i/delete.png" class="removeChoice"></label><textarea name="choices[]" id="'+id+'" class="tinymce">'+value+'</textarea></li>').appendTo("#choices");
	$("#"+id).tinymce({
		script_url : '/public/javascripts/tiny_mce/tiny_mce.js',
		theme : "simple",
		content_css : "/public/stylesheets/global.css",
	});
	
	updateChoiceNumbers();
}

$(".removeChoice").live('click', function() {
	$(this).parent().parent().remove();
	updateChoiceNumbers();
});

$(document).ready(function() {
	var questionEditor = $('textarea.tinymce').tinymce({
		script_url : '/public/javascripts/tiny_mce/tiny_mce.js',
		theme : "simple",
		content_css : "/public/stylesheets/global.css",
	});
	var choices = #{if flash['choices[]']}${flash['choices[]'].raw()}#{/if}#{else}["",""]#{/else};
	for(c in choices) {
		addChoice(choices[c]);
	}
	
	$("#addChoiceBtn").bind('click', function(event) {
		addChoice("");
		event.preventDefault();
	});
	
	$("#createpoll").submit(function(event) {
		/*for(var e in editors) {
			editors[e].saveHTML();
		}*/
	});
});
</script>

#{form _action, method:'post' }
<h1>&{_title}</h1>

  	<div class="labeledinput block">
	<label>&{'createpoll.form.question'}</label>
	#{ifError 'question'}
		<p class="error">#{error 'question' /}</p>
	#{/ifError}
	<!--input size="30" type="text" name="question" value="${question}" /-->
	<textarea class="tinymce" id="question" name="question">${flash.question}</textarea>
</div>

<div class="labeledinput block">
	<label>&{'createpoll.form.reference'}</label>
	#{ifError 'reference'}
		<p class="error">#{error 'reference' /}</p>
	#{/ifError}
	<input size="30" type="text" name="reference" value="${flash.reference}" />
</div> 

<div class="labeledinput block">
	<label for="loginRequired">
		<input id="loginRequired" type="checkbox" name="loginRequired" #{if flash.loginRequired}checked#{/if}/>
		&{'createpoll.form.loginRequired'}
	</label>
</div>

<div class="labeledinput block">
	<label>&{'createpoll.form.pollType'}</label>
	#{ifError 'type'}
		<p class="error">#{error 'type' /}</p>
	#{/ifError}
	#{select 'type', value: "${flash.type}"}
		#{option 'single'}&{'createpoll.form.pollType.single'}#{/option}
		#{option 'multiple'}&{'createpoll.form.pollType.multiple'}#{/option}
	#{/select}
</div>

<div class="labeledinput block">
	<label>&{'createpoll.form.choices'}</label>
	#{ifError 'choices[]'}
		<p class="error">#{error 'choices[]' /}</p>
	#{/ifError}
	<ol id='choices'></ol>
	<button id="addChoiceBtn" class="button">&{'createpoll.form.addChoice'}</button>
</div>
<input type='submit' id="submit_question" value="&{'createpoll.form.submit'}" class='button' />
<input type='button' onClick="history.back()" value="&{'createpoll.form.cancel'}" class='button'>
#{/form}