<div id="main">
	<div class="greybg">
		<div class="wrapper">
			<div id="stats"></div>
			<img class="loading" src="@{'/public/images/loading-big.gif'}" alt="&{'loading'}"/>
			<div id="voteCountLabel">&{'managepoll.pollstatistics.totalVoteCount', '<span>?</span>'}</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function() {
	Highcharts.theme = {
		colors: ["#FFA900"],
		chart: {
			backgroundColor: {
				linearGradient: [0, 0, 0, 400],
				stops: [[0, 'rgb(67, 67, 67)'], [1, 'rgb(80, 80, 80)']]
	     	},
			borderWidth: 0,
			borderRadius: 15,
			plotBackgroundColor: null,
			plotShadow: false,
			plotBorderWidth: 0
		},
		title: {
			style: { 
				color: '#FFF',
				font: '16px "Ubuntu", sans-serif'
			}
		},
		xAxis: {
			gridLineWidth: 0,
			lineColor: '#666',
			tickColor: '#666',
			labels: {
				style: {
					color: '#fff',
			        fontWeight: 'bold'
			    }
			},
			title: {
				style: {
					color: '#fff',
					font: '12px "Ubuntu", sans-serif'
				}            
			}
		},
		yAxis: {
			alternateGridColor: null,
			minorTickInterval: null,
			gridLineColor: 'rgba(255, 255, 255, .1)',
			lineWidth: 0,
			tickWidth: 0,
			labels: {
				style: {
					color: '#fff',
					fontWeight: 'bold'
				}
			},
			title: {
				style: {
					color: '#fff',
					font: '12px "Ubuntu", sans-serif'
				}            
			}
		},
		tooltip: {
			backgroundColor: {
				linearGradient: [0, 0, 0, 50],
				stops: [[0, 'rgba(96, 96, 96, .8)']]
			},
			borderWidth: 0,
			style: {
				color: '#FFF'
			}
		},
	};
	
	var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
	
	var choices = [#{list items:_pollInstance.votes, as:'voteSummary'}"<strong>${voteSummary_index}</strong> ${api.helpers.PresentationHelper.stripHTML(voteSummary.choice_text, true, 30)}"${voteSummary_isLast ? '' : ','}#{/list}];

	function loadData() {
		console.log("loading data");
		$.getJSON('/api/pollinstance/${_pollInstance.id}', function(data) {
			vote_count = data.pollinstance.vote_count;
			var votes = [];
			for(var v in data.pollinstance.votes) {
			votes[v] = data.pollinstance.votes[v].count / vote_count * 100;
			}
			console.log(data, votes);
			chart.series[0].setData(votes);
			$(".loading").hide();
			// Update the vote count label
			$("#voteCountLabel span").text(vote_count);
		});
	}
	
	var vote_count;
	var chart = new Highcharts.Chart({
		chart: {
			renderTo: 'stats',
			defaultSeriesType: 'column',
			marginRight: 10,
			events: {
				load: function() {
					loadData();
					setInterval(function() {
						loadData();
					}, 1000);
				}
			}
	    },
	    title: {
	    	text: "${api.helpers.PresentationHelper.stripHTML(_pollInstance.question)}"
	    },
	  	xAxis: {
			categories: choices,
			labels: {
		        rotation: -45,
		    	align: 'right',
	    	}
		},
		yAxis: {
			min: 0,
			max: 100,
			title: {
				text: '&{'joinpoll.success.yAxis'}'
			}
		},
		tooltip: {
			formatter: function() {
				yInVotes = Math.round(this.y*vote_count/100);
				return yInVotes +' &{'joinpoll.success.votes'}';
			}
		},
	    legend: {
	    	enabled: false
	    },
	    series: [{
			data: choices
		}]
	});
});
</script>