*.swp
play-1.2.4/*
*.log
.classpath
.project
.settings/
eclipse/
lib/
modules/
tmp/

# Virtual eclipse folders
OpenARMS-Authentication-CAS-API/
OpenARMS-Authentication-CAS-Frontend/
OpenARMS-Authentication-CAS-Service/
OpenARMS-API/
OpenARMS-Service/
OpenARMS-Frontend/
