<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=960, user-scalable=yes" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/global.css'}" />
        #{list items:moreStyles, as:'style'}
        <link href="@{'/public/stylesheets/'}/${style}.css" rel="stylesheet" type="text/css" media="screen" />
        #{/list}

        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.11.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/countdown.js'}" type="text/javascript" charset="utf-8"></script>
        #{list items:moreScripts, as:'script'}
        <script src="@{'/public/javascripts/'}/${script}.js" type="text/javascript" charset="utf-8"></script>
        #{/list}
    </head>
<body>
  <div id="container">
    #{if loggedIn}
            #{form @LoginUser.logout(), class:'usermanageButton' }
            <input type="submit" value="&{'user.logout'}" class="button" />
        #{/form}

			#{/if} #{else}
        #{form @RegisterUser.showform(), class:'usermanageButton' }
          <input type="submit" value="&{'user.register'}" class="button" />
        #{/form}

        #{form @LoginUser.index(), class:'usermanageButton' }
          <input type="submit" value="&{'user.login'}" class="button" />
        #{/form}
			#{/else}
		<div id="header">

		<div id="logo"></div>
		</div>
		<div id="content">
	      #{doLayout /}
		</div>
		<div id="language">
			<img src="@{'/public/images/flags/de.png'}" title="Deutsch"/>
			<img src="@{'/public/images/flags/da.png'}" title="Dansk"/>
			<img src="@{'/public/images/flags/en.png'}" title="English"/>
			<img src="@{'/public/images/flags/fi.png'}" title="Suomi"/>
			<img src="@{'/public/images/flags/fr.png'}" title="Français"/>
			<img src="@{'/public/images/flags/lv.png'}" title="Latviešu valoda"/>
			<img src="@{'/public/images/flags/ru.png'}" title="Русский язык"/>
			<img src="@{'/public/images/flags/sk.png'}" title="Slovenský jazyk"/>
			<img src="@{'/public/images/flags/es.png'}" title="Español"/>
			<img src="@{'/public/images/flags/tr.png'}" title="Türkçe"/>
		</div>
		<div id="footer">&{'interested_1'} <a href="https://docs.google.com/spreadsheet/viewform?formkey=dHZicWcwdFl3WEhJR0gtR2szTzlzbnc6MQ#gid=0" target="_blank">&{'interested_2'}</a>!</div>
	</div>
    <script type="text/javascript">
		$(document).ready(function(){
			$("#language img").bind('click', function() {
				lang = $(this).attr('src');
				lang = lang.replace("@{'/public/images/flags/'}/", "").replace(".png", "");
				$.ajax({
					  url: "@{Application.changeLang()}?lang="+lang,
					  success: function(){
						window.location.reload();
					  }
				});
			});
		});
		</script>
    </body>
</html>
