#{extends 'main.html' /}
#{set title:'Join poll #' + poll.token /}
#{set moreStyles:["joinpoll"] /}

<div id="main">
	<h1>${poll.question.raw()}</h1>
	<hr />
	#{form @JoinPoll.submit()}
		<input type="hidden" name="token" value="${poll.token}" />
		<input type="hidden" name="pollinstance_id" value="${pollInstance.id}" />
		<input type="hidden" name="poll_id" value="${poll.id}" />
		<ul>
			#{list items:poll.choices, as:'c'}
				<li class="choice">
					<label for="choice${c_index}">
						<input id="choice${c_index}" type="${ poll.multipleAllowed ? 'checkbox' : 'radio' }" name="answers" value="${c.id}"/>
						<div class="choice-content">${c.text.raw()}</div>
					</label>
				</li>
			#{/list}
		</ul>
		<input id="vote-button" type="submit" value="&{'vote'}" class="button" />
	#{/form}
</div>

<script>
$(function(){
	$("li.choice input").change(function(){
		$("li.choice").removeClass("selected");
		$(this).parent().parent().addClass("selected");
	});
});
</script>