.tools{
  width: 200px;
  float: left;
}
.setopt{
  height: 50px;
  background-color: #e60042;
  color: #fff;
  font-family: Verdana;
  font-size: 13pt;
  margin: 5px;
  border-radius: 5px;
  padding-top: 10px;
}

.description{
  width: 60%;
  float: left;
  margin: 5px 0px 0px 10px;
  border-radius: 5px;
}
.description > #createD, #manageD{
  display: none;
}
#content {
	margin: 0 auto;
  max-width: 600px;
  background-color: #ffd100;
  border-radius: 5px;
  overflow: auto;
}
hr{
  background-color: #06799f;
  height: 2pt;
  border: none;
}
.hovere-active{
  background-color: #96002b;
  color: #ffd100;
  cursor: pointer;
}
#main{
  overflow: auto;
}
/*#signup{
  clear: both;
}*/
