@import url(http://fonts.googleapis.com/css?family=Ubuntu);
* {
	font-family: 'Ubuntu', sans-serif;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
body#tinymce {
	font-size: 0.8em;
}