#bottomoptions {
	overflow: hidden;
	position: relative;
	margin-top: 5%;
}

#editpoll, #pollstatistics {
    margin-bottom: -1000px;
    padding-bottom: 1030px;
    width: 49%;
}

#bottomoptions .button {
	position: absolute;
	bottom: 10px;
}

#editpoll {
	float: left;
}

#pollstatistics {
	float: right;
}

#activatepoll .labeledinput {
	display: inline;
    float: left;
    margin-right: 10px;
}

#activatepoll .button {
	display: block;
	clear: both;
}

#voteCountLabel {
	text-align: center;
}

/* QR code*/

#qrcode-container {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	display: none;
	z-index: 2;
	text-align: center;
}

#qrcode-container #qrcode {
	margin: auto 0px;
	height: 100%;
}

#qrcode-container p {
	position: absolute;
	left: 0px;
	right: 0px;
	color: black;
}

#qrcode-container p#qrcode-link {
	top: 20px;
	font-size: 3em;
	font-weight: bold;
}

#qrcode-container p#qrcode-hint {
	bottom: 15px;
	font-size: 1.3em;
}

#qrcode-container p.countdown {
	bottom: 30px;
	font-size: 2em;
}
