#{form @authentication.SimpleAuthenticationFrontend.submit(), id:'login', method:'post' }
<h1>&{'loginuser'}</h1>
				
	#{if flash.error}
		<p class="error">${flash.error}</p>
	#{/if}
		
	<div class="labeledinput">
		<label>&{'loginuser.email'}</label>
		#{ifError 'email'}
			<p class="error">#{error 'email' /}</p>
		#{/ifError}
		<input size="30" type="text" name="email" value="${email}" />
	</div>
	
	<div class="labeledinput">
		<label>&{'loginuser.password'}</label>
		#{ifError 'password'}
			<p class="error">#{error 'password' /}</p>
		#{/ifError}
		<input size="30" type="password" name="password" value="${password}" />
	</div>
	
	<input type='submit' value="&{'loginuser.submit'}" class='button' />
	<input type='button' value="&{'loginuser.cancel'}" class='button' onClick="location.href='@{Application.index()}'" />
	<input type='button' value="&{'loginuser.register'}" class='button' onClick="location.href='@{RegisterUser.showform()}'" />
#{/form}
