#{extends 'main.html' /}
#{set 'title'}&{'registeruser.title'}#{/set}
#{set moreStyles:["registeruser"] /}
<div id="main">
	<h1>&{'registeruser.title'}</h1>
	
	#{if flash.error}
		<p class="error">${flash.error}</p>
	#{/if}
			
	#{form @RegisterUser.submit()}
    <div class="labeledinput">
		<label>&{'add.name'}</label>
		<input type="text" name="name" value="${flash.name}" autocomplete="off" autofocus="autofocus" />
	    #{ifError 'name'}
			<p class="error">#{error 'name' /}</p>
	    #{/ifError}
	</div>
    <div class="labeledinput">
		<label>&{'add.email'}</label>
		<input type="text" name="email" value="${flash.email}" autocomplete="off" />
	    #{ifError 'email'}
			<p class="error">#{error 'email' /}</p>
	    #{/ifError}
	  </div>
  	<div class="labeledinput">
  		<label>&{'add.passw'}</label>
  		<input type="password" name="password" autocomplete="off" maxlength="30"/>
	    #{ifError 'password'}
			<p class="error">#{error 'password' /}</p>
	    #{/ifError}
  	</div>
  	<div class="labeledinput">
  		<label>&{'add.confirm.passw'}</label>
  		<input type="password" name="passwordConfirmed" autocomplete="off" maxlength="30"/>
	    #{ifError 'passwordConfirmed'}
			<p class="error">#{error 'passwordConfirmed' /}</p>
	    #{/ifError}
    </div>
    <input type="submit" value="&{'registeruser.register'}" class="button" />
    <input type="button" value="&{'registeruser.cancel'}" onclick="history.back()" class="button" />
  #{/form}
</div>

