<script type="text/javascript" charset="utf-8">
function showQR(imageUrl, joinUrl) {
	$("#qrcode-container").fadeIn();
	$("#qrcode-container #qrcode").attr('src', imageUrl);
	$("#qrcode-container #qrcode-link").text(joinUrl);
}
$(document).ready(function() {
	$("#qrcode-container").click(function() {
		$(this).hide();
	});
});
</script>
<div id="qrcode-container">
	<img id="qrcode" />
	<p id="qrcode-link"></p>
	<p class="countdown"><span></span></p>
	<p id="qrcode-hint">&{'managepoll.qrcode.click'}</p>
</div>