ol#choices > li {
	margin: 0.5em;
	padding: 1.5em;
	background-color: rgba(0, 0, 0, 0.1);
}

ol#choices {
	padding: 0;
	list-style-type: none;
}
ol#choices li label {
	position: relative;
	display: block;
	clear: both;
}
ol#choices li label img {
	position: absolute;
	right: 0;
	vertical-align: middle;
}

#main label {
	font-size: 1.2em;
}

#createpoll > div {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #996500;
}

.managepollforuser {
	width: 350px;
	margin: 1em .5em;
}
.managepollforuser .questionwith, .questionwithout {
	margin: 0;
	padding: .50em;
	background: #bfcd93;
	border-top: 1px solid #386785;
	border-bottom: 1px solid #386785;
}
.managepollforuser div {
	padding: .5em .25em;
}