#token {
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 15%;
	padding: 5px 10px;
	width: 70%;
	overflow-y: hidden;
	overflow-x: hidden;
	display: block;
	font-size: 18px;
	position: relative;
	white-space: nowrap;
}
#token span {
	color: #666;
}
#token input {
	font-size: 18px;
	border: 0;
	outline-width:0;
	padding: 0;
}
#joinpoll p {
	width: 70%;
	margin: 0 15%;
	padding: 5px 10px 0;
	text-align: center;
}
#joinpoll .button {
	margin: 10px auto 0;
}
#bottomoptions {
	overflow: hidden;
	position: relative;
	margin-top: 5%;
	padding: 5px;
}
#bottomoptions .button {
	position: absolute;
	bottom: 10px;
}
#createpoll {
	float: left;
}
#managepoll {
	float: right;
}
#managepoll .labeledinput input {
	width: 45%;
}
.tools {
  width: 35%;
  float: left;
}
.tools .button {
	width: 100%;
	height: 3.5em;
	line-height: 3.5em;
	font-size: 14pt;
	padding: 0.1em;
}
.tools .button span {
    display: -moz-inline-box; /* FF2 or lower */
    display: inline-block; /* FF3, Opera, Safari */
    line-height: normal;
    vertical-align: middle;
}
.description {
  width: 57%;
  float: left;
  margin: 1% 2% 0 2%;
  border-radius: 5px;
  float: right;
}
.description > #join, #create, #manage, #register {
  display: none;
}

/* This makes stuff look nice when the #token shakes */
#join {
	overflow: hidden;
}
