#pollid {
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 15%;
	padding: 5px 10px;
	width: 70%;
	overflow-y: hidden;
	overflow-x: hidden;
	display: block;
	font-size: 18px;
	position: relative;
	white-space: nowrap;
}
#pollid span {
	color: #666;
}
#pollid input {
	font-size: 18px;
	border: 0;
	outline-width:0;
	padding: 0;
}
#joinpoll p {
	width: 70%;
	margin: 0 15%;
	padding: 5px 10px 0;
	text-align: center;
}
#joinpoll .button {
	margin: 10px auto 0;
}
#bottomoptions {
	overflow: hidden;
	position: relative;
	margin-top: 5%;
  padding: 5px;
}
#bottomoptions .button {
	position: absolute;
	bottom: 10px;
}
#createpoll {
	float: left;
}
#managepoll {
	float: right;
}
#managepoll .labeledinput input {
	width: 45%;
}
.tools{
  width: 35%;
  float: left;
}
.setopt{
  width: 100%;
  height: 50px;
  font-size: 14pt;
  padding-top: 10px;
}
.description{
  width: 57%;
  float: left;
  margin: 1% 2% 0 2%;
  border-radius: 5px;
  float: right;
}
.description > #joinD, #createD, #manageD{
  display: none;
}
#initD{
  font-size: 15pt;
  text-align: center;
}
.initD-hovered{
  text-decoration: underline;
  color: #e8e8e8;
  cursor: pointer;
}
#register{
  display: none;
}
