#token-container {
	position: relative;
	background-color: #fff;
	border: 1px solid #333;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin: 1em auto;
	padding: 0.3em 0.5em;
	width: 80%;
	overflow-x: hidden;
	display: block;
	font-size: 1.5em;
	position: relative;
	white-space: nowrap;
}
#token-container label {
	color: #666;
}
#token-container label input {
	font-size: 1.0em;
	width: 100%;
	border: 0;
	outline-width:0;
	padding: 0;
}
#description .button {
	margin: 10px auto;
}
#createpoll {
	float: left;
}
#managepoll {
	float: right;
}
#managepoll .labeledinput input {
	width: 45%;
}
.tools {
  width: 35%;
  float: left;
}
.tools .button {
	width: 100%;
	height: 4.5em;
	line-height: 4.5em;
	font-size: 1.5em;
	padding: 0 0.2em 0.2em 0.2em;
	/* No margin here */
	margin-left: 0;
	margin-right: 0;
}
.tools .button span {
    display: -moz-inline-box; /* FF2 or lower */
    display: inline-block; /* FF3, Opera, Safari */
    line-height: normal;
    vertical-align: middle;
}
.description {
  width: 65%;
  float: left;
  border-radius: 5px;
  float: right;
  padding: 1em;
}
.description > #join, #create, #manage, #register {
  display: none;
}

/* This makes stuff look nice when the #token shakes */
#join {
  overflow: hidden;
}
