#main ul {
	list-style: none;
	padding-left: 10px;
}

#main li {
	margin-bottom: 5px;
	font-size: 1.2em;
}

#main label {
	cursor: pointer;
	width: 100%;
	display: block;
	padding: 0.5em;
}

#main input[type=radio],
#main input[type=checkbox] {
	margin-right: 10px;
}

#main {
	margin-top: 1em;
}

#main .button {
	float: right;
}