#main > form > ul {
	list-style: none;
}

li.choice {
	margin-left: 0.5em;
	font-size: 1.2em;
}

li.choice.selected {
	background-color: rgba(255,255,255,0.2);
}

li.choice > label {
	cursor: pointer;
	width: 100%;
	display: block;
	padding: 0.5em 0;
}

li.choice > label > input {
	margin-top: 0.3em;
	vertical-align: top;
}

#main {
	margin-top: 1em;
	padding: 0;
}

#great_success {
	width: 600px;
	height: 439px;
	background-image: url("/public/images/great_success.png");
	margin-bottom: -0.5em;
	line-height: 97px;
	text-align: center;
}

#great_success span {
	position: relative;
	top: 6px;
	line-height: normal;
	font-size: 2.5em;
	color: #000;
	height: 97px;
}

.choice-content {
	vertical-align: top;
	display: inline-block;
	margin-left: 0.5em;
}
.choice-content li {
	margin-left: 1.5em;
}

#vote-button {
	margin: 0 auto;
	display: block;
}