* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #F0F0F0;
	color: #fff;
	font-size: 13px;
	margin: 0;
}

#container {
	margin: 1% auto;
	max-width: 600px;
}

#content {
	margin-bottom: 0.5em;
	max-width: 600px;
	background-color: rgba(0,0,0,0.66);
	border-top: 0.5em solid #333333;
	border-bottom: 0.5em solid #333333;
	padding: 1.0em 2.0em;
}

#main {
	margin: 0 auto;
	overflow: auto;
}

#header {
	position: relative;
	height: 80px;
	background: none !important;
}

#main.error404 #header,
#main.error500 #header {
	height: auto;
}
#main.error404 #header p,
#main.error500 #header p,
#main.error404 #more,
#main.error500 #more {
	color: silver !important;
}

#main.error404 #routes h2,
#main.error500 #source h2 {
	color: gray !important;
}

#main.error404 #routes li,
#main.error500 #routes li {
	list-style: none;
}

#header form {
	position: absolute;
	bottom: 0.2em;
	right: 0.2em;
}

#header input {
  float: right;
}

#header #logo {
	position: absolute;
	background-image: url("/public/images/logo.png");
	width: 300px;
	height: 61px;
	background-repeat: no-repeat;
	padding-bottom: 1em;
	background-position: 50% 50%;
	left: 50%;
	margin-left: -150px;
	bottom: 0px;
}
a {
	color: #fff;
}
hr {
	margin: 1.5em 0em;
	/*background-color: rgba(255,255,255,0.33);*/
	border-left: 0;
	border-right: 0;
	border-top: 0.1em solid rgba(0, 0, 0, 0.75);
	border-bottom: 0.1em solid rgba(255, 255, 255, 0.25);
}
h1, h2 {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
}

label {
	display: block;
}

input[type=text],
input[type=password],
select,
textarea {
	border: 1px solid #333;
	padding: 0.3em 0.5em;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	outline: none;
	margin: 5px;
	background-color: #fff;
	font-size: 1.1em;
}


input[type=text]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
	box-shadow: 0 0 5px #CFDC2A;
	-webkit-box-shadow: 0 0 5px #CFDC2A;
	-moz-box-shadow: 0 0 5px #CFDC2A;
}

.centered {
	text-align: center;
}

.wrapper {
	padding: 10px;
	display: block;
}

.button {
	display: inline-block;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0.15em solid #333333;
	font-size: 1.0em;
	padding: 0.5em 1em;
	margin: 0.2em;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #3c400c;
    text-shadow: 0.0em 0.09em rgba(255,255,255,0.66), 0.0em -0.09em rgba(0,0,0,0.66);
    box-shadow: inset 0 0.2em 0.1em rgba(255,255,255,.6);
	
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	background-color: #b6c225;
	background-image: -moz-linear-gradient(top,#b6c225 0,#868f1b 100%);
	background-image: -ms-linear-gradient(top,#b6c225 0,#868f1b 100%);
	background-image: -o-linear-gradient(top,#b6c225 0,#868f1b 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#b6c225),color-stop(100%,#868f1b));
	background-image: -webkit-linear-gradient(top,#b6c225 0,#868f1b 100%);
	background-image: linear-gradient(to bottom,#b6c225 0,#868f1b 100%);
}

.button:hover {
	background-color: #cfdc2a;
    background-image: -moz-linear-gradient(top,#cfdc2a 0,#9ea820 100%);
	background-image: -ms-linear-gradient(top,#cfdc2a 0,#9ea820 100%);
	background-image: -o-linear-gradient(top,#cfdc2a 0,#9ea820 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#cfdc2a),color-stop(100%,#9ea820));
	background-image: -webkit-linear-gradient(top,#cfdc2a 0,#9ea820 100%);
	background-image: linear-gradient(to bottom,#cfdc2a 0,#9ea820 100%);
}

.button:active {
	margin: 0.25em 0.2em 0.15em 0.2em;
	box-shadow: inset 0 0.2em 0.5em rgba(0, 0, 0, .5);
}

.labeledinput > * {
	vertical-align: middle;
}

.labeledinput {
	margin-bottom: 5px;
}

.error {
	padding: 0.5em;
	margin: 0.5em 0;
	color: #b07327;
	background-color: #fff1c6;
	border: 1px solid #b07327;
}
.content > .error {
	margin: 0 1em;
}

#language {
	color: #333;
	text-align: center;
}

#language img {
	cursor: pointer;
	margin-left: 5px;
	opacity:0.4;
	filter:alpha(opacity=25);
}

#language img:hover {
	opacity: 1;
	filter:alpha(opacity=100);
}

.loading {
	display: block;
    margin: 0 auto;
}
#countdowndiv {
	text-align: center;
}
#footer {
	position: relative;
	font-size: 0.9em;
	text-align: center;
	color: #333;
}
#footer a {
	color: #333;
}

.block {
	position: relative;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	border: 0.1em solid rgba(0, 0, 0, 0.5);
	background: rgba(255,255,255,0.1);
	margin: 0;
	padding: .5em;
}

#footer svg#opensource-badge {
	position: absolute;
	right: -70px;
	top: -70px;
	width: 140px;
	height: 140px;
}

#footer svg#opensource-badge:hover {
	position: absolute;
	right: -75px;
	top: -75px;
	width: 150px;
	height: 150px;
}

#footer svg#opensource-badge text {
	font-size: 1.5em;
}

/*@import url("specifics.css");*/
