#bottomoptions {
	overflow: hidden;
	position: relative;
	margin-top: 5%;
}

#editpoll, #pollstatistics {
    margin-bottom: -1000px;
    padding-bottom: 1030px;
    width: 49%;
}

#bottomoptions .button {
	position: absolute;
	bottom: 10px;
}

#editpoll {
	float: left;
}

#pollstatistics {
	float: right;
}

#activatepoll .labeledinput {
	display: inline;
    float: left;
    margin-right: 10px;
}

#activatepoll .button {
	display: block;
	clear: both;
}

#voteCountLabel {
	text-align: center;
}
#main .pollContainer {
	border-bottom: 1px solid #996500;
}
#main .question > input,
#main .instance > input {
}
#main .question {
	position: relative;
	padding: 0.2em;
	height: 3.5em;
	line-height: 3.5em;
}
#main .question.withinstances {
	cursor: pointer;
}
#main .question > span {
	font-size: 2em;
}
#main .question .controls {
	position: absolute;
	right: 0.2em;
	top: 0.2em;
}
#main .instance {
	position: relative;
	font-size: 1.0em;
	height: 3.5em;
	line-height: 3.5em;
}

#main .instance .controls {
	position: absolute;
	right: 0;
	top: 0;
	height: 3.5em;
	line-height: 3.5em;
}
#main .question {
	margin: 0;
	padding: .5em;
	background: rgba(255,255,255,0.1);
}
.managepollforuser div {
	padding: .5em .25em;
}

.managepollforuser button {
/* 	font-size: 70%; */
}
