#bottomoptions {
	overflow: hidden;
	position: relative;
	margin-top: 5%;
}

#editpoll, #pollstatistics {
    margin-bottom: -1000px;
    padding-bottom: 1030px;
    width: 49%;
}

#bottomoptions .button {
	position: absolute;
	bottom: 10px;
}

#editpoll {
	float: left;
}

#pollstatistics {
	float: right;
}

#activatepoll .labeledinput {
	display: inline;
    float: left;
    margin-right: 10px;
}

#activatepoll .button {
	display: block;
	clear: both;
}

#voteCountLabel {
	text-align: center;
}

#main .question {
	position: relative;
	overflow-x: hidden;
}
#main .question.withinstances {
	cursor: pointer;
}
#main .question > span {
	font-size: 2em;
}
#main .question .controls {
	position: absolute;
	margin-right: 0.2em;
	right: 0;
	opacity: 0;
	top: 0.2em;
}
#main .instance {
	position: relative;
	font-size: 1.0em;
	height: 3.5em;
	line-height: 3.5em;
	padding: 0em 1em;
	margin: 0em 0.5em;
	background: rgba(255,255,255,0.2);
	list-style: none;
}
#main .instance.last {
	-webkit-border-bottom-left-radius: 0.5em;
	-moz-border-bottom-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-moz-border-bottom-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

#main .instances {
	margin-bottom: 0.5em;
}

#main .poll.last .instances {
	margin-bottom: 0em;
}

#main .instance .controls {
	font-size: 0.8em;
	float: right;
}
#main .question {
	margin: 0;
	padding: .5em;
	background: rgba(255,255,255,0.1);
}
.managepollforuser div {
	padding: .5em .25em;
}

.managepollforuser button {
/* 	font-size: 70%; */
}

#qrcode-container {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	display: none;
	z-index: 2;
	text-align: center;
}

#qrcode-container #qrcode {
	margin: auto 0px;
	height: 100%;
}

#qrcode-container p {
	position: absolute;
	left: 0px;
	right: 0px;
	color: black;
	font-size: 1.3em;
}

#qrcode-container p#qrcode-link {
	top: 20px;
}

#qrcode-container p#qrcode-hint {
	bottom: 20px;
}
