.demo-show {
  width: 350px;
  margin: 1em .5em;
}
.demo-show h3 {
  margin: 0;
  padding: .25em;
  background: #bfcd93;
  border-top: 1px solid #386785;
  border-bottom: 1px solid #386785;
}
.demo-show div {
  padding: .5em .25em;
}