.managepollforuser {
  width: 350px;
  margin: 1em .5em;
}
.managepollforuser .questionwith, .questionwithout {
  margin: 0;
  padding: .50em;
  background: #bfcd93;
  border-top: 1px solid #386785;
  border-bottom: 1px solid #386785;
}
.managepollforuser div {
  padding: .5em .25em;
}

.managepollforuser button {
/* 	font-size: 70%; */
}
