#{extends 'main.html' /} #{ set title:'Activated poll #' + pollID /} 
#{set moreStyles:["ManagePoll/activate"] /}
#{set moreScripts:["date.format"] /}
<script type="text/javascript">
function generateLink(button) {
	var duration = $("input[name=duration]").val();
	if(duration == "") {
		$("input[name=duration]").focus();
	} else {
		var link = "@@{ManagePoll.activate(token:poll.token,duration:12345)}".replace("12345", duration);
		$(button).hide();
		$(button).siblings("#generated-link").val(link).fadeIn('fast');
	}
}
</script>
<div id="main">
	<h1>&{'managepoll.activate.form.title', api.helpers.PresentationHelper.stripHTML(poll.question, true, null)}</h1>
	#{form @ManagePoll.activate(poll.token), method:'POST' }
		<div class="labeledinput">
			<p>&{'managepoll.activate.form.text'}</p>
			<input name="duration" placeholder="&{'managepoll.activate.form.duration'}" type="text" />
			#{ifError 'duration'}
				<p class="error">#{error 'duration' /}</p>
			#{/ifError}
		</div>
		<div>
			<button class="button set-duration-button" onClick="$('input[name=duration]').val(60);return false;">&{'managepoll.activate.form.one_minute'}</button>
			<button class="button set-duration-button" onClick="$('input[name=duration]').val(300);return false;">&{'managepoll.activate.form.five_minutes'}</button>
			<button class="button set-duration-button" onClick="$('input[name=duration]').val(600);return false;">&{'managepoll.activate.form.ten_minutes'}</button>
			<button class="button set-duration-button" onClick="$('input[name=duration]').val(1800);return false;">&{'managepoll.activate.form.half_an_hour'}</button>
			<button class="button set-duration-button" onClick="$('input[name=duration]').val(3600);return false;">&{'managepoll.activate.form.one_hour'}</button>
		</div>
		<p><small>&{'managepoll.activate.form.hint'}</small></p>
		
		<input type="submit" value="&{'managepoll.activate.form.submit'}" class="button" />
		<button class="button" onClick="generateLink(this);return false;">&{'managepoll.activate.form.generate.link'}</button>
		<input type="text" size="40" disabled="disabled" id="generated-link" />
	#{/form}
</div>