#generated-link {
	/*
	background: rgba(255, 255, 255, 0.33);
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 0.3em;
	margin: 0.4em;
	
	-webkit-border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	border-radius: 0.4em;
	*/
	
	vertical-align: middle;
	
	cursor: pointer;
	display: none;
}