@CHARSET "UTF-8";

#main .poll {
	margin-bottom: 1em;
}

#main .poll.last {
	margin-bottom: 0em;
}

#main .question > span {
	display: block;
	font-size: 2em;
	padding: 0.3em;
}

#main .controls {
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
}

#main .question > .controls {
	box-shadow: inset 0 0.0em 0.5em rgba(0, 0, 0, .5);
	border: 0.1em solid rgba(0, 0, 0, 0.33);
	background: rgba(0,0,0,0.33);
	
	margin-top: 0.5em;
	padding: 0.3em;
}

#main .instance > .controls {
	box-shadow: inset 0 0.0em 0.5em rgba(0, 0, 0, .5);
	border: 0.1em solid rgba(0, 0, 0, 0.33);
	background: rgba(0, 0, 0, 0.1);
	
	position: absolute;
	top: 0.55em;
	bottom: 0.5em;
	right: 0.5em;
	font-size: 0.8em;
	padding: 0.05em;
	line-height: normal;
}

#main .instance > .controls > .button {
	vertical-align: baseline;
}

#main .instances {
	box-shadow: inset 0 0.5em 0.5em rgba(0, 0, 0, .33);
	margin: 0em 0.5em;
}

#main li {
	font-size: 1.0em;
	padding: 0em 0.5em;
	background: rgba(255,255,255,0.2);
	list-style: none;
	border: 0.1em solid rgba(0, 0, 0, 0.5);
	border-top: 0;
}

#main .instance {
	position: relative;
	height: 3.5em;
	line-height: 3.5em;
	background: rgba(255,255,255,0.2);
	list-style: none;
}

#main .instance > span {
	padding: 0.5em;
}

#main .instance.last {
	-webkit-border-bottom-left-radius: 0.5em;
	-moz-border-bottom-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-moz-border-bottom-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

#qrcode-container {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	display: none;
	z-index: 2;
	text-align: center;
}

#qrcode-container #qrcode {
	margin: auto 0px;
	height: 100%;
}

#qrcode-container p {
	position: absolute;
	left: 0px;
	right: 0px;
	color: black;
}

#qrcode-container p#qrcode-link {
	top: 20px;
	font-size: 3em;
	font-weight: bold;
}

#qrcode-container p#qrcode-hint {
	bottom: 20px;
	font-size: 1.3em;
}
