@CHARSET "UTF-8";

#content {
	position: relative;
}

#loadingHint {
	position: absolute;
	bottom: 1em;
	left: 1em;
	color: white;
}

#loadingHint * {
	vertical-align: middle;
}

#countdown {
	text-align: center;
}

#countdown .button {
	margin: 1em;
}

#voteCountLabel span, #countdown span {
	font-weight: bold;
}