#{extends 'main.html' /} #{ set title:'Create new poll' /}
#{set moreStyles: ["createpoll","menu","button","container","autocomplete","editor"] /}
#{set moreScripts: ["editor/yuiloader-min","editor/event-min","editor/dom-min","editor/animation-min","editor/connection-min","editor/element-min","editor/container-min","editor/menu-min","editor/button-min","editor/datasource-min","editor/autocomplete-min","editor/editor-min"] /}
<div id="main">
	#{form @CreatePoll.submit(), id:'createpoll', class:'greybg wrapper' }
	<h1>&{'create_poll'}</h1>

   	<div class="labeledinput">
		<label>&{'createpoll.form.question'}</label>
		#{ifError 'question'}
			<p class="formError">#{error 'question' /}</p>
		#{/ifError}
		<!--input size="30" type="text" name="question" value="${question}" /-->
		<div class="yui-skin-sam">
			<textarea class="editor" id="question" name="question">${question}</textarea>
		</div>
	</div>

	<div class="labeledinput">
		<label>&{'createpoll.form.reference'}</label>
		#{ifError 'reference'}
			<p class="formError">#{error 'reference' /}</p>
		#{/ifError}
		<input size="30" type="text" name="reference" value="${reference}" />
	</div> 
	
	<div class="labeledinput">
		<label for="loginRequired">
			&{'createpoll.form.loginRequired'}
			<input id="loginRequired" type="checkbox" name="loginRequired" value="true" />
		</label>
	</div>

	<div class="labeledinput">
		<label>&{'createpoll.form.pollType'}</label>
		#{ifError 'type'}
			<p class="formError">#{error 'type' /}</p>
		#{/ifError}
		<select name="type" >
			<option value="single">&{'createpoll.form.pollType.single'}</option>
			<option value="multiple">&{'createpoll.form.pollType.multiple'}</option>
		</select>
	</div>

	<div class="labeledinput">
		<label>&{'createpoll.form.choices'}</label>
		#{ifError 'answer'}
			<p class="formError">#{error 'answer' /}</p>
		#{/ifError}
		<ol id='choices'></ol>
		<button id="addChoiceBtn" class="button">&{'createpoll.form.addChoice'}</button>
	</div>
	<input type='submit' id="submit_question" value="&{'createpoll.form.submit'}" class='button' />
	<input type='button' value="&{'createpoll.form.cancel'}" class='button'>
	#{/form}
</div>

<script type="text/javascript">
var questionRTEConfig = {
    height: '150px',
    width: '100%',
    animate: false,
    dompath: false,
    focusAtStart: true,
	  toolbar: {
        //titlebar: 'My Editor',
        buttons: [
            { group: 'textstyle', label: 'Font Style',
                buttons: [
                    { type: 'push', label: 'Bold', value: 'bold' },
                    { type: 'push', label: 'Italic', value: 'italic' },
                    { type: 'push', label: 'Underline', value: 'underline' },
                    { type: 'separator' },
                    { type: 'color', label: 'Font Color', value: 'forecolor', disabled: true },
                    { type: 'color', label: 'Background Color', value: 'backcolor', disabled: true }
                ]
            },
	    { type: 'separator' },
	    { group: 'indentlist', label: 'Lists',
	        buttons: [
	            { type: 'push', label: 'Create an Unordered List', value: 'insertunorderedlist' },
	            { type: 'push', label: 'Create an Ordered List', value: 'insertorderedlist' }
	        ]
	    },
	    { type: 'separator' },
	    { group: 'insertitem', label: 'Insert Item',
	        buttons: [
	            { type: 'push', label: 'HTML Link CTRL + SHIFT + L', value: 'createlink', disabled: true }, 
	            { type: 'push', label: 'Insert Image', value: 'insertimage' }
	        ]
	    }

        ]
    }
};
choiceRTEConfig = questionRTEConfig;

var editors = [];

function updateChoiceNumbers() {
	$("#choices .choice").each(function(n, v) {
		$("label span", this).text(n+1);
	});
}

var choiceIndex = 0;
function addChoice(value) {
	choiceIndex++;
	var index = choiceIndex;
	var id = "choice-"+index;
	var label = "&{'createpoll.form.choiceLabel', '<span>?</span>'}";
	var choiceField = $('<li class="yui-skin-sam choice"><label>'+label+'<img src="public/images/i/delete.png" class="removeAnswer"></label><textarea name="choices[]" id="'+id+'">'+value+'</textarea></li>').appendTo("#choices");
	
	var editor = new YAHOO.widget.Editor(id, choiceRTEConfig);
	editor.render();
	editors.push(editor);
	
	updateChoiceNumbers();
}

$(".removeAnswer").live('click', function() {
	$(this).parent().parent().remove();
	updateChoiceNumbers();
});

$(document).ready(function() {
	// Initialize the question RTE
	var questionEditor = new YAHOO.widget.Editor("question", questionRTEConfig);
	questionEditor.render();
	editors.push(questionEditor);
	
	var choices = ${choices.raw()};
	for(c in choices) {
		addChoice(choices[c].text);
	}
	
	$("#addChoiceBtn").bind('click', function(event) {
		addChoice("");
		event.preventDefault();
	});
	
	$("#createpoll").submit(function(event) {
		for(var e in editors) {
			editors[e].saveHTML();
		}
	});

	function bindRemove() {
		$(".removeAnswer").bind('click', function() {
			$(this).parent().remove();
		});
	};
});
</script>
