#{extends 'main.html' /} #{ set title:'Create new poll' /}
#{set moreStyles:'createpoll' /}
<div id="main">
	#{form @CreatePoll.submit(), id:'createpoll', class:'greybg wrapper' }
		<h1>&{'create_poll'}</h1>
		<div class="labeledinput">
			<label>&{'createpoll.form.email'}</label>
			#{ifError 'email'}
				<p class="formError">#{error 'email' /}</p>
			#{/ifError}
			<input size="30" type="text" name="email" value="${email}" />
		</div>

    <div class="labeledinput">

			<label>&{'createpoll.form.question'}</label>
			#{ifError 'question'}
				<p class="formError">#{error 'question' /}</p>
			#{/ifError}
			<!--input size="30" type="text" name="question" value="${question}" /-->
    #{rte /}
		</div>

		<div class="labeledinput">
			<label>&{'createpoll.form.pollType'}</label>
			#{ifError 'type'}
				<p class="formError">#{error 'type' /}</p>
			#{/ifError}
			<select name="type" >
				<option value="single">&{'createpoll.form.pollType.single'}</option>
				<option value="multiple">&{'createpoll.form.pollType.multiple'}</option>
			</select>
		</div>

		<div class="labeledinput">
			<label>&{'createpoll.form.answers'}</label>
			#{ifError 'answer'}
				<p class="formError">#{error 'answer' /}</p>
			#{/ifError}
			<ol id='answers'>
				
			</ol>
			<span id="AddAnswerButton"><input class='button' type="button" value="&{'createpoll.form.addAnswer'}" /></span>
		</div>
		<input type='button' id="submit_question" value="&{'createpoll.form.submit'}" class='button' />
		<input type='submit' value="&{'createpoll.form.cancel'}" class='button'>
	#{/form}
</div>

<script type="text/javascript">
$(document).ready(function(){
	$("#editor").val("${question}");
	var answers = ${choices.raw()};
	len = answers.length;
	myFields = new Array();
	for (i=0; i<len; i++) {
		$("#answers").append("<li class=\"answerContainer yui-skin-sam\"><textarea name=\"answer[]\" id=\"ans"+i+"\" class=\"ans\">"+answers[i]["text"]+"</textarea><img src=\"public/images/i/delete.png\" class=\"removeAnswer\"></li>");
		myFields[i] = new YAHOO.widget.Editor("ans"+i, answerConfig);
		myFields[i].render();
		bindRemove();
		$('.answerContainer:last input').focus();
	}
	
	$("#AddAnswerButton input").bind('click', function() {
		$("#answers").append("<li class=\"answerContainer yui-skin-sam\"><textarea name=\"answer[]\" id=\"ans"+len+"\" class=\"ans\">"+len+"</textarea><img src=\"public/images/i/delete.png\" class=\"removeAnswer\"></li>");
		myFields[len] = new YAHOO.widget.Editor("ans"+len, answerConfig);
		myFields[len].render();
		len++;
		bindRemove();
	});
	
	$("#submit_question").click(function(){
		myEditor.saveHTML();
		for (i=0; i<myFields.length; i++) {
			myFields[i].saveHTML();
		}
		$("#createpoll").submit();
	});

	function bindRemove() {
		$(".removeAnswer").bind('click', function() {
			$(this).parent().remove();
		});
	};
});
</script>
