#{extends 'main.html' /} #{ set title:'Created poll #' + token /} 
#{set moreStyles: ["createpoll.success"] /}

<div id="main" class="success">
	<h1>&{'createpoll.success.header'}: <a href="@{JoinPoll.index(poll.token)}">@@{JoinPoll.index(poll.token)}</a></h1>
	<p>&{'createpoll.success.text'}</p>
	<center>
	<img src="@{QRController.renderImage(token:poll.token,size:300,format:'png')}" /><br />
	<input type="button" class="button" onClick="location.href='@{ManagePoll.activate(poll.id)}'" value="&{'createpoll.success.activate'}">
	<input type="button" class="button" onClick="location.href='@{ManagePoll.statistics(poll.id)}'" value="&{'createpoll.success.show_statistics'}">
	</center>
</div>